<h1>Account: <%= @area.name %></h1>

<h2>Area:</h2>
<table border="1">
    <tr>
        <th>id</th><th>Name</th><th>Email</th><th>Phone</th>
    </tr>
    <% @booths.each do |booth| %>
      <% next if booth.nil? %>
      <tr>
          <td><%= booth.id %></td>
          <td><%= booth.name %></td>
          <td><%= booth.location %></td>
      </tr>
    <% end %>
</table>