<h1>Booths</h1>
<table>
    <tr>
        <th>Name</th><th>Date</th><th>Salesforce Id</th>
    </tr>
    <% @booths.each do |booth| %>
    <tr>
        <td><%= booth.name %></td>
        <td><%= booth.createddate.strftime("%d %b %y") %></td>
        <td><%= booth.location__c %></td>
    </tr>
    <% end %>
</table>

